*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
*::-webkit-scrollbar {
    display: none;
}
body{
    background-color: #d9dff8;
}
.container{
    background-color: white;
    width: 300px;
    height: 600px;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid white;
    background-color: #0e1f55;
    margin: 30px;
    position: relative;
}





/* ProfilePage */
.profile_page{
    transition: all 0.6s ease;
    display: block;
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    background-color: #0e1f55;
    padding: 40px;
}
.profile_page .back_btn{
    right: 36px;
    position: absolute;
    font-size: 40px;
    top: 50px;
    cursor: pointer;
}
.profile_page .name_header{
    position: absolute;
    top: 150px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.profile_page .categories{
    position: absolute;
    top: calc(50% - 30px);
    line-height: 30px;
    word-spacing: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.profile_page .categories .icons{
    /* border: 1px solid black; */
    position: absolute;
    width: fit-content;
}
.profile_page .categories .icons i{
    display: block;
    margin: 14px;
    font-size: 15px;
    cursor: pointer;
}
.profile_page .categories .texts{
    /* border: 1px solid black; */
    position: absolute;
    left: 50px;
}
.profile_page .categories .texts div{
    margin: 2px;
    cursor: pointer;
}
.profile_page .categories .texts div:hover,
.profile_page .back_btn:hover{
    color: rgba(255, 255, 255, 0.596);
}








/* Todo-page */
.todo_page{
    transition: all 0.6s ease;
    display: block; 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f6f7ff;
    padding: 20px;
    user-select: none;
    border-radius: 50px;
    /* border: 1px solid red; */
}


/* TodoHeader */
.todo_page .todo_header{
    /* border: 1px solid red; */
    position: relative;
    top: 0px;
    width: 100%;
    height: 25%;
    padding-top: 35px;
    color: #1e294e;
}
.todo_page .todo_header .headline{
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 650;
}
.todo_page .todo_header .hamburgur{
    /* border: 1px solid green; */
    width: 25px;
    height: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    cursor: pointer;
}
.todo_page .todo_header .hamburgur .line{
    /* position: absolute; */
    height: 3px;
    flex: 0 0 100%;
    background-color: #1e294e57;
}

.todo_page .todo_header .search{
    position: relative;
    left: 230px;
    top: -10px;
    color: #1e294e57;
    cursor: pointer;
}
.todo_page .todo_header .notification{
    position: relative;
    left: 200px;
    top: -29px;
    color: #1e294e57;
    cursor: pointer;
}


/* ToDo Upperbody */
.todo_page .todo_upperBody{
    /* border: 1px solid red; */
    position: relative;
    width: 100%;
    height: 25%;
}
.subheading{
    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1e294e57;
}
.todo_page .todo_upperBody .taskCards{
    margin: 10px 0px;
    width: 110%;
    height: 65%;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    justify-content: space-between;
}
.todo_page .todo_upperBody .taskCards .card{
    border: 1px solid green;
    border-radius: 20px;
    margin-right: 20px;
    flex: 0 0 50%;
    background-color: white;
    /* box-shadow: ; */
}



/*Todo tasks */
.todo_page .tasks{
    position: relative;
    width: 100%;
    height: 47%;
}
.todo_page .tasks .taskList{
    height: 100%;
    overflow: scroll;
}
.todo_page .tasks li{
    /* border: 1px solid red; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 7px;
}
.todo_page .addBtn{
    color: white;
    z-index: 100;
    position: absolute;
    height: 47px;
    width: 47px;
    border-radius: 50%;
    background-color: #0662ed;
    bottom: 50px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    cursor: pointer;
}






/* Input-page */
.input_page{
    position: absolute;
    display: none;
    padding: 35px;
    height: 100%;
    width: 100%;
    background-color: white;
}

.input_page .crossbtn{
    border: 1px solid rgba(0, 0, 0, 0.452);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 40px;
    right: 35px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    cursor: pointer;
}

.input_page .inputbox{
    /* border: 1px solid red; */
    position: absolute;
    height: 100px;
    top: calc(50% - 80px);
}
.input_page .inputbox input[type="text"]{
    width: 100%;
    height: 40px;
    border: none;
    padding: 0px 3px;
    font-size: 20px;
    margin-bottom: 20px;
}
.input_page .inputbox input[type="radio"]{
    cursor: pointer;
}
.input_page .inputbox input[type="text"]:focus{
    outline: none;
}
.input_page .inputbox .radio_wrapper{
    border: 1px solid rgba(0, 0, 0, 0.452);
    border-radius: 40px;
    display: inline-block;
    margin-right: 5px;
    padding: 10px;
    cursor:default;
    user-select: none;
}

.input_page .submitBtn{
    background-color: #0662ed;
    color: white;
    position: absolute;
    bottom: 65px;
    right: 35px;
    height: 27px;
    padding: 11px 40px;
    box-sizing: content-box;
    border-radius: 30px;
    cursor: pointer;
    font-size: 17px;
}